header{
    background-color: black;
    font-family: Verdana;
    height: 8em;

}

footer{
    background-color: black;
    font-family: Verdana;
    height: 3em;
}

footer > p{
    margin-top:4px;
    color:purple;
    font-family: Verdana;
    letter-spacing: 0.1em;
}
#html{
    color:#56C0DB;
    font-family: Verdana;

}

#CSSJSON{
    color:#DB9555;
    font-family: Verdana;
    align-items:center;

}

#XML{
    color:#A0DB4B;
    font-family: Verdana;

}

#title{
    font-family: 'Courier New';
    font-size: 3em;
    color:#249FF0;
}

a:hover{
    color:white;
}

header > p{
    margin: 1em;
}

main > article{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border-top:10px;
}

.name{
    font-weight:bold;
    letter-spacing: 0.1em;
}